/*INICIO DE LOS ESTILOS COMUNES*/

* {
    margin: 0;
    padding: 0;
    font-family: "josefin sans", "san-serif";
}

html {
    font-size: 62.5%;
}

body {
    background-color: white;
}



/*FINAL DE LOS ESTILOS COMUNES*/

/*INICIO DE LA PÁGINA PRINCIPAL*/

.main-page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content;

}


/*INICIO DEL LADO IZQ*/
.left {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content div {

    display: flex;
    align-items: center;
    margin: 4rem;
    color: #fff;


}


.left-content i {
    font-size: 3rem;
    margin-right: 2rem;
}


/*INICIO LADO DERECHO*/
.right {
    grid-column: 2/-1;
    grid-row: 1/2;
    position: relative;
}

.right-content-form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.right-content-form div {
    position: relative;

}

.right-content-form input {
    width: 20rem;
    height: 4.5rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    padding: 0 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 1.5rem;
    background-color: white;
    transition: background-color 0.3s;
}

.right-content-form label {
    position: absolute;
    top: 4rem;
    left: 0;
    font-size: 1.6rem;
    font-weight: 300;
    color: #a7a7a7;
}

.btn-top {

    width: 8rem;
    background-color: #fff;
    color: blue;
    border: 0.1rem solid #1aaaf5;
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-top:hover {
    background-color: #d9ebf7;
}


.middle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 40%;
}

.middle-content i {
    font-size: 4rem;
    color: #1aaaf5;
    margin-bottom: 2rem;
}

.middle-content h1 {
    font-size: 2.8rem;
    margin-bottom: 4rem;
    line-height: 4rem;


}


.middle-content h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.middle-content button {

    margin: 0.8rem 0;
    padding: 0.5rem;
    border: .1rem solid #1aaaf5;
    border-radius: 4rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color .3s;

}

.sing-up {
    background-color: #1aa1f5;
    color: #fff;
}

.sing-up:hover {
    background-color: #0f5d8d;
}


.log-in {
    background-color: #fff;


}

.log-in:hover {
    background-color: #d9ebf7;
}

/*FIN DEL LADO DERECHO*/

/*INICIO DE PIE DE PÁGINA*/

.main-page-footer {
    grid-column: 1/-1;
    grid-row: 2/-1;
    background-color: #f5f4f4;
    padding: 1.5rem;
    border-top: 0.1rem solid #ddd;
}

.main-page-footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.main-page-footer a {
    font-size: 1.5rem;
    margin: 0 2rem;
    text-decoration: none;
    color: #444;


}

/*FIN DE PIE DE PÁGINA*/

/*FIN DE LA PÁGINA PRINCIPAL*/

/*INICIO PAGINA DE REELS*/
.feeds-page {
    width: 100%;
    height: 100vh;

}

/*INICIO NAVEGACION DE REELS*/

.feeds-nav {
    position: fixed;
    width: 100%;
    height: 6.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.3);
}

.icons {
    display: flex;
    align-items: center;

}

.icons a {
    text-decoration: none;
    margin-right: 7rem;
    font-size: 2.5rem;
    color: #9e9a9a;
}

.icons .active {
    color: #1aa1f5;
}

.search-bar {
    display: flex;
    align-items: center;
    position: relative;

}

.search-bar input {
    width: 35rem;
    height: 3rem;
    border: 0.1rem solid #d6e2e9;
    border-radius: 3rem;
    background-color: #d6e2e9;
    padding-left: 5rem;
    transition: all 0.3s;

}

.search-bar-input:focus {
    background-color: #fff;
    border-color: #1aa1f5;
}

.search-bar i {
    position: absolute;
    font-size: 1.6rem;
    left: 1.5rem;
    color: #9e9a9a;
}

.user {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-img-wrapper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.user-link {
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: #444;

}

.user i {
    color: #444;
    font-size: 1.6rem;
}



/*INICIO CONTENIDO FEEDS*/

.feeds-content {
    display: grid;
    grid-template-columns: minmax(5rem, 1fr) 60rem 40rem minmax(5rem, 1fr);
    grid-template-rows: repeat(2, min-content);
    padding-top: 6.5rem;

}

.feeds-header {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #fff;
    margin-top: 1.5rem;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #eee;
}

.header-top h4 {
    font-size: 2.2rem;
}

.header-top i {
    font-size: 2rem;
    color: #1aa1f5;
}

.header-post {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1rem solid #eee;
}

.header-img-wrapper {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;

}

.header-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.header-post input {
    width: 35rem;
    height: 3rem;
    border: 0.1rem solid #6de1e9;
    border-radius: 3rem;
    background-color: #6de1e9;
    padding: 0.4rem 1.5rem;
}

.header-post i {
    font-size: 2.5rem;
    color: #1aa1f5;
    margin: 1rem;

}

.posts {
    grid-column: 2/3;
    grid-row: 2/-1;
    background-color: #fff;
}

.user-avatar {
    width: 6rem;
    height: 6rem;

}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post-img {
    width: 48rem;
    height: 30rem;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.post {
    display: flex;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #eee;
}

.post-user-info {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.post-user-info h4 {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
}

.post-user-info i {
    font-size: 1.6rem;
    color: #1aa1f5;
    margin-right: 0.5rem;
}

.post-user-info span {
    font-size: 1.6rem;

}

.post-text {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-left: 1rem;

}

.post-icons {
    margin-top: 1rem;
}

.post-icons i {
    font-size: 1.8rem;
    color: #868383;
    margin-right: 6rem;
}

.follow {
    position: fixed;
    top: 8rem;
    left: 57%;
    background-color: #fff;
    width: 40rem;
}

.follow-heading {
    padding: 1rem;
    font-size: 1.8rem;
    border-bottom: 0.1rem solid #eee;
}

.follow-user-img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    margin-right: 2rem;

}

.follow-user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.follow-user {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 0.1rem solid #eee;
}

.follow-user-info h4,
.follow-user-info p {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.follow-btn {
    margin-left: auto;
    width: 9rem;
    background-color: #fff;
    color: #1aa1f5;
    padding: 0.7rem 0.5rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 2rem;
    cursor: pointer;
}

.follow-link {
    margin: 2rem 1rem;
}

.follow-link a {
    text-decoration: none;
    color: #1aa1f5;
    font-size: 1.5rem;
}

.follow-footer {
    background-color: #fafafd;
}

.follow-footer ul {
    list-style: none;
    display: flex;
    padding: 2rem 0;
}

.follow-footer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #868383;
    margin: 2rem;
}

.post-btn {
    position: fixed;
    bottom: 2rem;
    left: 68%;
    width: 12rem;
    padding: 1.5rem 1rem;
    background-color: #1aa1f5;
    color: #fff;
    font-size: 2rem;
    border: 0.1rem solid #1aa1f5;
    border-radius: 3rem;
    cursor: pointer;
    box-shadow: 0.3rem 1rem rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

.post-btn:hover {
    background-color: #1aa1f5;
}


/* Estilos para la nueva pestaña de postear tweet */
#tweet-tab {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#tweet-tab-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#closeTweetTab {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #555;
}

#newTweetText {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#postNewTweetBtn {
    background-color: #1aa1f5;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#postNewTweetBtn:hover {
    background-color: #0f5d8d;
}




/*FIN CONTENIDO FEEDS*/
/*FIN DE PAGINA DE REELS*/